/* raleway-regular - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/raleway-v27-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("../fonts/raleway-v27-latin-regular.woff") format("woff");
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-500 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	src: local(""), url("../fonts/raleway-v27-latin-500.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("../fonts/raleway-v27-latin-500.woff") format("woff");
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("../fonts/open-sans-v29-latin-regular.woff") format("woff");
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/open-sans-v29-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("../fonts/open-sans-v29-latin-700.woff") format("woff");
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


* {
	box-sizing: border-box;
}

h1 {
	font-family: "Raleway";
	font-weight: 500;
}

h2 {
	font-family: "Raleway";
}

h3 {
	font-family: "Open Sans";
	font-weight: 700;
}

body {
	font-family: "Raleway";
	font-size: 18px;
	line-height: 21px;
	color: black;
}

.header {
	background-color: black;

	.wrapper {
		max-width: 1510px;
		width: 100%;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding-left: 20px;
		padding-right: 20px;

		.logo {
			.logo-ico {
				object-fit: contain;
			}
		}

		.nav {
			.list {
				display: flex;
				flex-wrap: wrap;
				align-items: center;



				.item:last-child {
					margin-right: 0;
				}

				.link {
					font-family: "Open Sans";
					font-style: normal;
					font-size: 14px;
					font-weight: 700;
					line-height: 19px;
					color: white;
					text-decoration: none;
					padding: 27px;
					transition: 0.5s;
				}



				.link:hover {
					background-color: #EC7979;
				}

				.link:active {
					background-color: #AB4949;
				}
			}
		}

		@media (max-width: 799px) {
			.nav {
				display: none;
			}
		}

		.menu-btn {
			display: none;
			width: 30px;
			height: 30px;
			position: relative;
			z-index: 2;
			overflow: hidden;
		}

		@media (max-width: 799px) {
			.menu-btn {
				display: flex;
			}
		}

		.menu-btn span {
			width: 30px;
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
			transition: all 0.5s;
		}

		.menu-btn span:nth-of-type(2) {
			top: calc(50% - 5px);
		}

		.menu-btn span:nth-of-type(3) {
			top: calc(50% + 5px);
		}

		.menu-btn.active span:nth-of-type(1) {
			display: none;
		}

		.menu-btn.active span:nth-of-type(2) {
			top: 50%;
			transform: translate(-50%, 0%) rotate(45deg);
		}

		.menu-btn.active span:nth-of-type(3) {
			top: 50%;
			transform: translate(-50%, 0%) rotate(-45deg);
		}
	}
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
	background: black;
	transform: translateX(-100%);
	transition: transform 0.5s;

	ul {
		margin: 0 auto;

		li {
			text-align: center;
			margin-bottom: 60px;
			margin-top: 100px;

			a {
				text-decoration: none;
				color: #fff;
				font-size: 18px;
				text-align: center;
				font-family: "Open Sans";
			}
		}
	}
}

.menu.active {
	transform: translateX(0);
}

//Wrapper
.wrapper {
	max-width: 1170px;
	margin: auto;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

//Wrapper

//Intro section
.intro {
	background-image: url(../img/intro.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	.container {
		padding-top: 207px;
		display: flex;
		justify-content: space-between;

		.title-container {
			.logo {
				margin-bottom: 72px;
			}

			@media (max-width: 799px) {
				.logo {
					display: none;
				}
			}

			.title {
				font-size: 48px;
				line-height: 56px;
				max-width: 670px;
				color: white;
				margin-bottom: 55px;
			}

			.border {
				border-top: 1px solid;
				width: 170px;
				color: white;
				margin-bottom: 42px;
			}

			@media (max-width: 799px) {
				.border {
					margin: 42px auto;
				}
			}

			.text {
				color: #ffffff;
				max-width: 270px;
				font-size: 18px;
				line-height: 21px;
				margin-bottom: 42px;
			}

			@media (max-width: 799px) {
				.text {
					max-width: none;
				}
			}

			.button {
				max-width: 270px;
				height: 58px;
				display: flex;
				align-items: center;
				text-decoration: none;
				border: 1px solid #fff;
				background: none;
				padding: 28px 90px;
				margin-bottom: 185px;
				text-decoration: none;
				font-family: "Open Sans";
				font-size: 18px;
				font-weight: 700;
				line-height: 25px;
				color: #ffffff;
				transition: 0.5s;
			}

			.button:hover {
				border: 1px solid #EC7979;
				color: #EC7979
			}

			.button:active {
				border: none;
				background-color: #AB4949;
				color: white;
			}

			@media (max-width: 799px) {
				.button {
					margin: 0 auto;
					margin-bottom: 56px;
				}
			}
		}

		@media (max-width: 799px) {
			.title-container {
				text-align: center;
			}
		}

		.form {
			background-color: white;
			width: 100%;
			max-width: 470px;
			height: 450px;
			border-radius: 10px;

			.title {
				margin: 0 auto;
				;
				color: black;
				font-family: "Opens Sans";
				font-weight: 700;
				font-size: 22px;
				line-height: 33px;
				max-width: 367px;
				height: 90px;
				padding-top: 40px;
				text-align: center;
				margin-bottom: 45px;
				text-transform: uppercase;

				.colortext {
					color: #ec7979;
				}
			}

			.form-container {
				padding-left: 50px;
				padding-right: 50px;
				display: flex;
				flex-direction: column;

				.form-field {
					border: 0;
					border-bottom: 1px solid #bdbdbd;
					margin-bottom: 33px;
					padding-bottom: 19px;
					font-family: "Open Sans";
					font-size: 14px;
					line-height: 19px;
					color: black;
				}

				.form-field::placeholder {
					color: #bdbdbd;
				}

				.form-field:last-child {
					margin-bottom: 66px;
				}
			}

			.button {
				width: 100%;
				background-color: #ec7979;
				height: 64px;
				border: none;
				text-align: center;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: "Open Sans";
				font-size: 15px;
				line-height: 20px;
				text-decoration: none;
				color: #ffffff;
				transition: 0.5s;
			}

			.button:hover {
				background-color: #AB4949;
			}

			.button:active {
				border: 2px solid #AB4949;
				background-color: #EC7979;
				box-shadow: 2px #ab4949;
			}
		}

		@media (max-width: 799px) {
			.form {
				width: auto;
				max-width: initial;
			}
		}
	}

	@media (max-width: 799px) {
		.container {
			flex-direction: column;
			padding-top: 140px;
		}
	}
}

@media (max-width: 799px) {
	.intro {
		padding-bottom: 50px;
	}
}

.social {
	background-color: #f8efef;

	.container {
		display: flex;
		justify-content: space-between;

		.title-container {
			padding-top: 22px;

			.title {
				font-family: "Open Sans";
				font-weight: 700;
				font-size: 24px;
				line-height: 33px;
				color: #333333;
				margin-bottom: 18px;
			}

			.text {
				max-width: 470px;
				font-size: 18px;
				line-height: 21px;
				color: #86878b;
				margin-bottom: 18px;
			}
		}

		@media (max-width: 799px) {
			.title-container {
				text-align: center;
			}
		}

		.row {
			display: flex;
			align-items: center;

			.item {
				margin-right: 30px;

				.ico {
					width: 100%;
				}

				// @media (max-width: 799px) {
				// 	.ico {
				// 		width: 20px;
				// 	}
				// }
			}

			.item:last-child {
				margin-right: 0px;
			}

			.item:hover,
			.item:focus,
			.item:active {
				opacity: 0.75;
			}
		}

		@media (max-width: 799px) {
			.row {
				justify-content: center;
			}
		}
	}

	@media (max-width: 799px) {
		.container {
			flex-direction: column;
			padding-bottom: 45px;
		}
	}

	@media (max-width: 1201px) {
		.container {
			justify-content: initial;
		}
	}
}

.tabs {
	label {
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		user-select: none;
		padding: 13px 8px;
		cursor: pointer;
		position: relative;
		top: 2px;
		font-family: "Open Sans";
		font-size: 14px;
		line-height: 19px;
		text-transform: uppercase;
		text-decoration: none;
		color: #333333;
		width: 183px;
		height: 40px;
		justify-content: center;
		align-items: center;
	}

	@media (max-width: 615px) {
		label {
			width: 80px;
		}
	}

	input[type="radio"] {
		display: none;
	}

	label:not(:first-of-type) {
		border-left: none;
	}

	input[type="radio"]:checked+label {
		border-top: 1px solid #c6cbcd;
		border-left: 1px solid #c6cbcd;
		border-right: 1px solid #c6cbcd;
		border-bottom: 1px solid #fff;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background-color: #fff;
	}

	.container {
		padding-top: 100px;

		#tab-btn-1:checked~#content-1,
		#tab-btn-2:checked~#content-2,
		#tab-btn-3:checked~#content-3 {
			display: flex;
		}
	}

	.content {
		border: 1px solid #c6c6c6;
		display: none;
		justify-content: space-between;
		margin-bottom: 50px;

		.content-container {
			padding-top: 50px;
			padding-left: 80px;

			.title {
				font-family: "Open Sans";
				font-size: 30px;
				line-height: 41px;
				font-weight: 700;
				color: #000000;
				margin-bottom: 60px;
			}

			.text {
				max-width: 570px;
				font-size: 18px;
				line-height: 21px;
				margin-bottom: 27px;
				color: #000000;
			}

			.button {
				max-width: 270px;
				height: 58px;
				display: flex;
				align-items: center;
				text-decoration: none;
				border: 1px solid #ec7979;
				background: #ec7979;
				padding: 28px 90px;
				margin-bottom: 54px;
				text-decoration: none;
				font-family: "Open Sans";
				font-size: 18px;
				font-weight: 700;
				line-height: 25px;
				color: #ffffff;
				transition: 0.5s;
			}

			.button:hover {
				border: none;
				background-color: #AB4949;
			}

			.button:active {
				box-shadow: 2px #AB4949;
				border: 2px solid #AB4949;
				background-color: #EC7979;
			}

			@media (max-width: 799px) {
				.button {
					margin: 0 auto;
					margin-bottom: 54px;
				}
			}
		}

		@media (max-width: 799px) {
			.content-container {
				text-align: center;
				padding-left: 0px;
			}
		}

		.img {
			background-image: url(../img/tabs-img.jpg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 470px;
		}

		@media (max-width: 615px) {
			.img {
				display: none;
			}
		}

	}
}

.advantages {
	.title {
		font-size: 36px;
		line-height: 42px;
		color: #000000;
		margin-bottom: 60px;
		text-align: center;
		text-transform: uppercase;
	}

	@media (max-width: 799px) {
		.title {
			font-size: 24px;
		}
	}

	.border {
		border-top: 1px solid;
		width: 170px;
		color: #ec7979;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.text {
		color: #86878b;
		text-align: center;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 70px;
	}

	.cards {
		display: flex;

		.card {
			.ico {
				display: flex;
				margin: 0 auto;
			}

			.title {
				font-size: 24px;
				line-height: 32px;
				text-transform: none;
			}

			.text {
				color: black;
				margin-bottom: 60px;
			}
		}
	}

	@media (max-width: 799px) {
		.cards {
			flex-direction: column;
		}
	}
}

.prices {
	margin-bottom: 110px;
	background-color: #f5f5f5;

	.title {
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		margin-bottom: 60px;
		text-transform: uppercase;
		padding-top: 110px;
	}

	.border {
		border-top: 1px solid;
		width: 170px;
		color: #333333;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.text {
		color: #86878b;
		text-align: center;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 70px;
	}

	.cards {
		display: flex;
		padding-bottom: 50px;

		.card {
			width: 370px;
			background-color: white;
			text-align: center;
			border: 2px solid #f5f5f5;
			margin-right: 30px;
			transition: 0.5s;

			.list {
				.item {
					border-bottom: 2px solid #f5f5f5;
					padding: 15px;
					color: #86878b;
					font-size: 18px;
					line-height: 21px;
				}

				.item:first-child {
					font-family: "Open Sans";
					padding: 20px;
					font-size: 24px;
					line-height: 32px;
					font-weight: 700;
					color: #fff;
					background-color: #333333;
				}

				.item:nth-child(2) {
					background-color: #333333;
					padding: 40px;
					font-size: 36px;
					line-height: 42px;
					color: #ffffff;
					font-weight: 700;
				}

				.item:nth-child(3) {
					background-color: #333333;
					color: rgba(255, 255, 255, 0.5);
				}
			}
		}

		.card:hover {
			transform: translateY(-20px)
		}

		.card:last-child {
			margin-right: 0px;
		}

		@media (max-width: 799px) {
			.card {
				margin-bottom: 40px;
				width: auto;
				margin-right: 0px;
			}
		}
	}

	@media (max-width: 799px) {
		.cards {
			flex-direction: column;
		}
	}
}

.feedback {
	.title {
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		margin-bottom: 60px;
		text-transform: uppercase;
	}

	.border {
		border-top: 1px solid;
		width: 170px;
		color: #ec7979;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.subtitle {
		color: #86878b;
		text-align: center;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 80px;
	}

	// .cards-slider {
	// 	display: none;
	// 	padding-bottom: 50px;

	// 	input {
	// 		display: none;
	// 	}

	// 	.controls {
	// 		width: 120px;
	// 		margin: 0 auto;


	// 		label {
	// 			cursor: pointer;
	// 			display: inline-flex;
	// 			height: 8px;
	// 			margin: 25px 12px 0 16px;
	// 			position: relative;
	// 			width: 8px;
	// 			-webkit-border-radius: 50%;
	// 			-moz-border-radius: 50%;
	// 			-o-border-radius: 50%;
	// 			border-radius: 50%;
	// 			-webkit-transition: background ease-in-out .5s;
	// 			-moz-transition: background ease-in-out .5s;
	// 			-o-transition: background ease-in-out .5s;
	// 			transition: background ease-in-out .5s;
	// 		}

	// 		label:after {
	// 			border: 2px solid #ddd;
	// 			content: " ";
	// 			display: block;
	// 			height: 12px;
	// 			left: -4px;
	// 			position: absolute;
	// 			top: -4px;
	// 			width: 12px;
	// 			-webkit-border-radius: 50%;
	// 			-moz-border-radius: 50%;
	// 			-o-border-radius: 50%;
	// 			border-radius: 50%;
	// 		}

	// 		label:hover,
	// 		#slide1:checked~.controls label:nth-of-type(1),
	// 		#slide2:checked~.controls label:nth-of-type(2),
	// 		#slide3:checked~.controls label:nth-of-type(3) {
	// 			background: #ddd;
	// 		}
	// 	}

	// 	.slider {
	// 		.slide2 {
	// 			display: none;
	// 		}

	// 		.slide3 {
	// 			display: none;
	// 		}

	// 		.slide1 {
	// 			display: none;
	// 		}

	// 		.slides {
	// 			display: block;
	// 			-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	// 			-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	// 			-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	// 			transition: transform ease-in-out .5s, opacity ease-in-out .5s;

	// 			.card {
	// 				max-width: 370px;
	// 				margin-right: 30px;
	// 			}

	// 			.review {
	// 				text-align: center;
	// 				border: 1px solid #e2e2e2;
	// 				border-radius: 10px;
	// 				background-color: #e2e2e2;
	// 				padding-left: 40px;
	// 				padding-right: 40px;
	// 				padding-top: 30px;
	// 				max-height: 180px;
	// 				margin-bottom: 66px;
	// 				position: relative;
	// 			}

	// 			.review::after {
	// 				content: "";
	// 				position: absolute;
	// 				/* Абсолютное позиционирование */
	// 				left: 60px;
	// 				bottom: -20px;
	// 				/* Положение треугольника */
	// 				border: 10px solid transparent;
	// 				/* Прозрачные границы */
	// 				border-top: 10px solid #e2e2e2;
	// 				/* Добавляем треугольник */
	// 			}

	// 			.customer {
	// 				display: flex;

	// 				.customer-info {
	// 					margin-left: 30px;

	// 					.name {
	// 						font-size: 24px;
	// 						line-height: 32px;
	// 						font-weight: 700;
	// 						margin-bottom: 30px;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}

	// 	#slide1:checked~#slide1,
	// 	#slide2:checked~#slide2,
	// 	#slide3:checked~#slide3 {
	// 		display: block;
	// 	}
	// }
	.rev-slider {
		display: none;
	}

	@media (max-width: 799px) {
		.rev-slider {
			display: flex;
			flex-direction: column;
			margin-bottom: 65px !important;

			.slide {
				max-width: 370px;
				margin-right: initial;
				max-width: initial;

				.review {
					text-align: center;
					border: 1px solid #e2e2e2;
					border-radius: 10px;
					background-color: #e2e2e2;
					padding-left: 40px;
					padding-right: 40px;
					padding-top: 30px;
					padding-bottom: 30px;
					margin-bottom: 15px;
					position: relative;

				}

				.review::after {
					content: "";
					position: absolute;
					/* Абсолютное позиционирование */
					left: 60px;
					bottom: -20px;
					/* Положение треугольника */
					border: 10px solid transparent;
					/* Прозрачные границы */
					border-top: 10px solid #e2e2e2;
					/* Добавляем треугольник */
				}

				.customer {
					display: flex;

					.img {
						max-width: 100px;
						max-height: 100px;
						width: 100px;
						margin-left: 20px;
					}

					.customer-info {
						margin-left: 30px;
						padding: 10px;

						.name {
							font-size: 24px;
							line-height: 32px;
							font-weight: 700;
							margin-bottom: 30px;
						}
					}

				}
			}

			.slide {
				max-width: 370px;
				margin-right: initial;
				max-width: initial;

				.review {
					text-align: center;
					border: 1px solid #e2e2e2;
					border-radius: 10px;
					background-color: #e2e2e2;
					padding-left: 40px;
					padding-right: 40px;
					padding-top: 30px;
					padding-bottom: 30px;
					margin-bottom: 15px;
					position: relative;

				}

				.review::after {
					content: "";
					position: absolute;
					/* Абсолютное позиционирование */
					left: 60px;
					bottom: -20px;
					/* Положение треугольника */
					border: 10px solid transparent;
					/* Прозрачные границы */
					border-top: 10px solid #e2e2e2;
					/* Добавляем треугольник */
				}

				.customer {
					display: flex;

					.img {
						max-width: 100px;
						max-height: 100px;
						width: 100px;
						margin-left: 20px;
					}

					.customer-info {
						margin-left: 30px;
						padding: 10px;

						.name {
							font-size: 24px;
							line-height: 32px;
							font-weight: 700;
							margin-bottom: 30px;
						}
					}

				}
			}
		}

	}



	.cards {
		display: flex;
		margin-bottom: 65px;

		.card {
			max-width: 370px;
			margin-right: 30px;

			.review {
				text-align: center;
				border: 1px solid #e2e2e2;
				border-radius: 10px;
				background-color: #e2e2e2;
				padding-left: 40px;
				padding-right: 40px;
				padding-top: 30px;
				padding-bottom: 30px;
				margin-bottom: 66px;
				position: relative;
			}

			.review::after {
				content: "";
				position: absolute;
				/* Абсолютное позиционирование */
				left: 60px;
				bottom: -20px;
				/* Положение треугольника */
				border: 10px solid transparent;
				/* Прозрачные границы */
				border-top: 10px solid #e2e2e2;
				/* Добавляем треугольник */
			}

			.customer {
				display: flex;

				img {
					max-width: 100px;
					max-height: 100px;
					width: 100px;
				}

				.customer-info {
					margin-left: 30px;

					.name {
						font-size: 24px;
						line-height: 32px;
						font-weight: 700;
						margin-bottom: 30px;
					}
				}
			}

			@media (max-width: 799px) {
				.customer {
					margin-bottom: 20px;
				}
			}
		}

		@media (max-width: 799px) {
			.card {
				margin-right: initial;
				max-width: initial;
			}
		}

		.card:last-child {
			margin-right: 0px;
		}
	}

	@media (max-width: 799px) {
		.cards {
			flex-direction: column;
			display: none;
		}
	}
}

.design {
	background-image: url(../img/design.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 50px;

	.title {
		padding-top: 110px;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		margin-bottom: 60px;
		text-transform: uppercase;
		color: #fff;
	}

	.border {
		border-top: 1px solid;
		width: 170px;
		color: #fff;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.text {
		color: #fff;
		text-align: center;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 70px;
	}

	.button {
		max-width: 370px;
		height: 58px;
		display: flex;
		margin: 0 auto;
		align-items: center;
		text-decoration: none;
		border: 1px solid;
		background: none;
		padding-left: 90px;
		padding-right: 90px;
		font-family: "Open Sans";
		font-size: 18px;
		line-height: 24px;
		color: #ffffff;
	}

	.button:hover {
		border: 1px solid #EC7979;
		color: #EC7979
	}

	.button:active {
		color: #AB4949;
		border: none;
		background-color: #AB4949;
	}
}

.contact {
	.title {
		padding-top: 110px;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		margin-bottom: 60px;
		text-transform: uppercase;
	}

	.border {
		border-top: 1px solid;
		width: 170px;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.text {
		text-align: center;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 70px;
	}

	.form {
		.login {
			display: flex;

			ul {
				width: 50%;
				margin-right: 20px;

				.form-field {
					width: 100%;
					border: 0;
					border-bottom: 1px solid #bdbdbd;
					margin-bottom: 33px;
					padding-bottom: 19px;
					font-family: "Open Sans";
					font-size: 14px;
					line-height: 19px;
					color: black;
					margin-right: 30px;
				}

				@media (max-width: 799px) {
					.form-field {
						width: 100%;
						margin-right: initial;
					}
				}
			}

			@media (max-width: 799px) {
				ul {
					width: 100%;
					margin-right: 0px;
				}
			}

		}

		@media (max-width: 799px) {
			.login {
				width: auto;
				flex-direction: column;
			}
		}

		.massage-container {
			width: 50%;

			.massage {
				width: 100%;
				border: 0;
				border-bottom: 1px solid #bdbdbd;
				margin-bottom: 50px;
				padding-bottom: 167px;
				font-family: "Open Sans";
				font-size: 14px;
				line-height: 19px;
				color: black;
			}

			@media (max-width: 799px) {
				.massage {
					width: 100%;
				}
			}


		}

		@media (max-width: 799px) {
			.massage-container {
				width: 100%;
			}
		}
	}

	.button {
		max-width: 370px;
		height: 58px;
		display: flex;
		margin: 0 auto;
		align-items: center;
		text-decoration: none;
		border: 1px solid;
		background: none;
		padding-left: 120px;
		padding-right: 120px;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		color: white;
		background-color: #ec7979;
		margin-bottom: 50px;
		transition: 0.5s;
	}

	.button:hover {
		border: none;
		background-color: #AB4949;
	}

	.button:active {
		border: 2px solid #ab4949;
		background-color: #EC7979;
		box-shadow: 2px #AB4949;
	}
}

.footer {
	background: black;

	ul {
		max-width: 570px;
		display: flex;
		padding-top: 40px;
		padding-bottom: 30px;
		margin: 0 auto;
		justify-content: space-between;


		li {
			display: flex;
			margin-right: 30px;

			.img {
				width: 100%;
			}
		}

		@media (max-width: 799px) {
			li {
				margin-right: 0px;
			}
		}

		li:last-child {
			margin-right: 0px;
		}

		li:hover,
		li:focus,
		li:active {
			opacity: 0.75;
		}
	}

	.title {
		color: rgba(255, 255, 255, 0.5);
		text-align: center;
		padding-bottom: 30px;
	}
}